name: Build

on:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches: [ master ]
    paths-ignore: '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore: '**.md'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        DISTRO: [
          { name: "focal", base_image: "ubuntu:focal" },
          { name: "focal_cuda11.2", base_image: "nvidia/cuda:11.2.2-devel-ubuntu20.04" },
          { name: "jammy", base_image: "ubuntu:jammy" },
          { name: "jammy_cuda11.8", base_image: "nvidia/cuda:11.8.0-devel-ubuntu22.04" },
        ]

    steps:
      - uses: actions/checkout@v3

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker login
        continue-on-error: true
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # - name: Docker build
      #   uses: docker/build-push-action@v3
      #   with:
      #     file: ${{github.workspace}}/docker/ubuntu/Dockerfile
      #     tags: koide3/gtsam_docker:${{ matrix.DISTRO.name }}
      #     build-args: |
      #       "GTSAM_TAG=4.2a8"
      #       "BASE_IMAGE=${{ matrix.DISTRO.base_image }}"
      #     platforms: linux/amd64
      #     context: .
      #     push: true

  build_ros:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        DISTRO: [
          { "distro": "noetic", "base_image": "focal", "ros_version": "ros1" },
          { "distro": "foxy", "base_image": "focal", "ros_version": "ros2" },
          { "distro": "humble", "base_image": "jammy", "ros_version": "ros2" }
        ]

    steps:
      - uses: actions/checkout@v3

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker login
        continue-on-error: true
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker build
        uses: docker/build-push-action@v3
        with:
          file: ${{github.workspace}}/docker/${{ matrix.DISTRO.ros_version }}/Dockerfile
          tags: koide3/gtsam_docker:${{ matrix.DISTRO.distro }}
          build-args: |
            BASE_IMAGE=koide3/gtsam_docker:${{ matrix.DISTRO.base_image }}
            ROS_DISTRO=${{ matrix.DISTRO.distro }}
          platforms: linux/amd64
          context: .
          push: true
